.buttons-list {
  list-style-type: none;
  width: 100px;
}
.color {
  background-color: #db1c48;
  color: #fff;
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Roboto';
  padding: 10px;
  width: 90px;
  border: none;
}
.tab-bt {
  border-radius: 15px;
  font-size: 14px;
  font-family: 'Roboto';
  padding: 10px;
  width: 90px;
  border: none;
  border: 1px solid #db1c48;
  cursor: pointer;
}
